<div class="container">
  <h1>PAGE TO CREATE A COCKTAIL</h1>
  
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>
    <div class="d-flex justify-content-between">
      <%= f.submit 'Save', class: "btn btn-primary" %>
      <%= link_to('Back to the list', cocktails_path, class: "btn btn-outline-secondary") %>
    </div>
  <% end %>
</div>